.expenseList{
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    min-width: 250px;
    font-size: large;
    box-shadow: 2px 4px 10px black;
    // text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.liList{
    list-style-type: none;
}