.menu {
    left: 0;
    right: 0;
    // top: 60px;
    position: fixed;
    display: flex;
    z-index: 10;
    padding: 10px;
    background-color: rgb(228, 226, 226);
    // background-color: rgba(175, 175, 175, 0.514);
    justify-content: center;
    transition: 1s;


    .list {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }

    .link {
        color: black;
        font-weight: 500;
        font-size: x-large;
        text-decoration: unset;
        transition: 0.5s;
    }

    .link:hover {
        color: red;
    }
}

@media screen and (min-width: 300px) {
    .menu {
    left: 0;
    right: 0;
    top: 15vw;
    position: fixed;
    display: flex;
    z-index: 10;
    padding: 10px;
    background-color: #9FFF6B;
    // background-color: rgba(175, 175, 175, 0.514);
    justify-content: center;
    transition: 1s;


    .list {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }

    .link {
        color: black;
        font-weight: 500;
        font-size: 8vw;
        text-decoration: unset;
        transition: 0.5s;
    }

    .link:hover {
        color: red;
    }
}
}
@media screen and (min-width: 700px) {
    .menu {
    left: 0;
    right: 0;
    top: 8vw;;
    position: fixed;
    display: flex;
    z-index: 10;
    padding: 10px;
    background-color: #9FFF6B;
    // background-color: rgba(175, 175, 175, 0.514);
    justify-content: center;
    transition: 1s;


    .list {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }

    .link {
        color: black;
        font-weight: 500;
        font-size: 4vw;
        text-decoration: unset;
        transition: 0.5s;
    }

    .link:hover {
        color: red;
    }
}
}
@media screen and (min-width: 1000px) {
    .menu {
    left: 0;
    right: 0;
    top:5vw;;
    position: fixed;
    display: flex;
    z-index: 10;
    padding: 10px;
    background-color: #9FFF6B;
    // background-color: rgb(228, 226, 226);
    // background-color: rgba(175, 175, 175, 0.514);
    justify-content: center;
    transition: 1s;


    .list {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }

    .link {
        color: black;
        font-weight: 500;
        font-size: 2vw;
        text-decoration: unset;
        transition: 0.5s;
    }

    .link:hover {
        color: red;
    }
}
}