.menu {
    left: 0;
    right: 0;
    top: 60px;
    position: fixed;
    display: flex;
    z-index: 10;
    padding: 10px;
    background-color: rgb(228, 226, 226);
    // background-color: rgba(175, 175, 175, 0.514);
    justify-content: center;
    transition: 1s;


    .list {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }

    .link {
        color: black;
        font-weight: 500;
        font-size: x-large;
        text-decoration: unset;
        transition: 0.5s;
    }

    .link:hover {
        color: red;
    }
}

@media screen and (max-width: 520px) {
    .menu {
        top: 90px;
    }
}